foo/src/main/resources/META-INF/yu.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- XSD 文件是 XML DTD 的替代者，使用XML Schema语言进行编写-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://www.notalk.cc/scheme/yu"
		xmlns:tns="http://www.notalk.cc/scheme/yu"
		elementFormDefault="qualified">
	<element name="user">
		<complexType>
			<attribute name="id" type="string"/>
			<attribute name="name" type="string"/>
			<attribute name="address" type="string"/>
		</complexType>
	</element>

</schema>